
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: grid;
    flex-direction: column;
    height: 100vh;
}

body.light-mode {
    background: #dddddd;
    color: #ffffff;
}

body.dark-mode {
    background: #444444;
    color: #cccccc;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: #333;
}

nav.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

nav .logo {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

nav.sticky .logo {
    color: #111;
}

.light-mode nav {
    background: #ebebeb;
    box-shadow: 0px 8px 12px #ebebeb;
}

.dark-mode nav {
    background: #141414;
    box-shadow: 0px 8px 12px #080808;
}

.light-mode nav .logo {
    color: #000000;
}

.dark-mode nav .logo {
    color: #ffffff;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 100%;
}


.main-video {
    background: linear-gradient(#69767e, #2a3033);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.light-mode .main-video {
    background: linear-gradient(#d8d8d8, #aaaaaa);
    box-shadow: 0px 1px 8px rgb(0, 0, 0);
}

.dark-mode .main-video {
    background: linear-gradient(#333333, #1a1a1a);
    box-shadow: 0px 1px 8px rgb(151, 151, 151);
}

.main-video iframe {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    border: none;
}

.light-mode .main-video iframe {
    box-shadow: 0px 5px 20px #a0a0a0;
}

.dark-mode .main-video iframe {
    box-shadow: 0px 5px 20px #353535;
}

.main-video .title {
    font-size: 24px;
    margin-top: 20px;
}

.light-mode .main-video .title {
    color: #000000;
    filter: drop-shadow(0px 2px 4px rgb(119, 119, 119));
}

.dark-mode .main-video .title {
    color: #ffffff;
    filter: drop-shadow(0px 2px 8px rgb(0, 0, 0));
}


.video-list {
    background: linear-gradient(#c0c0c0, #535353);
    border-radius: 8px;
    padding: 10px;
    max-height: 650px;
    overflow-y: auto;
}

.light-mode .video-list {
    background: linear-gradient(#d8d8d8, #aaaaaa);
    box-shadow: 0px 1px 8px rgb(0, 0, 0);
}

.dark-mode .video-list {
    background: linear-gradient(#333333, #222222);
    box-shadow: 0px 1px 8px rgb(151, 151, 151);
}

.video-list::-webkit-scrollbar {
    width: 8px;
}

.video-list::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 50px;
}

.video-list::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 50px;
}

.video-list .vid {
    box-shadow: 0px 2px 15px #535353;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.video-list .vid:hover {
    background: #dadada;
    box-shadow: 0px 1px 10px #0f0f0f;
}

.light-mode .video-list .vid.active {
    background: #353535;
}

.dark-mode .video-list .vid.active {
    background: #a5a5a5;
}

.light-mode .video-list .vid.active .title {
    color: #dadada;
    filter: drop-shadow(0px 2px 10px rgb(0, 0, 0));
}

.dark-mode .video-list .vid.active .title {
    color: #000000;
    filter: drop-shadow(0px 2px 6px rgb(0, 0, 0));
}

.video-list .title {
    font-size: 18px;
}

.light-mode .video-list .vid .title {
    color: #000000;
    filter: drop-shadow(0px 0px 10px rgb(102, 102, 102));
}

.dark-mode .video-list .vid .title {
    color: #ffffff;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}

.video-list img {
    width: 100px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
}

.light-mode .video-list img {
    filter: drop-shadow(0px 1px 5px rgb(36, 36, 36));
}

.dark-mode .video-list img {
    filter: drop-shadow(0px 0px 5px rgb(206, 206, 206));
}


.search-bar {
    display: flex;
    width: 60%;
    padding: 10px;
    margin-top: 35px;
    margin-left: 20%;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 16px;
    box-shadow: 0px 2px 15px #535353;
}

.light-mode .search-bar {
    background-color: #979797;
    box-shadow: 0px 0px 5px #ffffff;
}

.dark-mode .search-bar {
    background-color: #2e2e2e;
    color: #ffffff;
}

.search-bar::placeholder {
    opacity: 1;
}

.light-mode .search-bar::placeholder {
    color: #000000;
}

.dark-mode .search-bar::placeholder {
    color: #ffffff;
}


.alternative-sources {
    margin-top: 10px;
}

.alternative-sources label,
.alternative-sources select,
#changeSourceBtn {
    font-size: 16px;
}

.light-mode .alternative-sources label {
    color: #000000;
}

.dark-mode .alternative-sources label {
    color: #ffffff;
}

.alternative-sources select {
    width: 160px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.light-mode .alternative-sources select {
    background-color: #979797;
    color: #000000;
    box-shadow: 0px 0px 3px #000000;
}

.dark-mode .alternative-sources select {
    background-color: #2e2e2e;
    color: #ffffff;
}

.btn,
#changeSourceBtn {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    box-shadow: 0px 1px 5px #000000;
}

.light-mode .btn,
.light-mode #changeSourceBtn {
    background-color: #979797;
    color: #000000;
}

.dark-mode .btn,
.dark-mode #changeSourceBtn {
    background-color: #2e2e2e;
    color: #ffffff;
}

.btn:hover,
#changeSourceBtn:hover {
    background-color: #dadada;
    color: #000000;
}

#themeToggleBtn {
    padding: 2px;
    width: 5%;
    height: 50px;
    border-radius: 5px;
    color: #363636;
    background-color: #979797;
    text-align: center;
    cursor: pointer;
    border: none;
}

#themeToggleBtn:hover {
    background-color: #000000;
}

#toggleDark {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.light-mode #toggleDark {
    color: #000000;
}

.dark-mode #toggleDark {
    color: #ffffff;
}


footer {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0px -8px 12px;
}

.light-mode footer {
    background-color: #d3d3d3;
    color: #000000;
    box-shadow: 0px -8px 12px #d3d3d3;
}

.dark-mode footer {
    background-color: #141414;
    color: #ffffff;
    box-shadow: 0px -8px 12px #080808;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-bottom {
    display: grid;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #3d3d3d;
    box-sizing: border-box;
}

.light-mode .footer-logo .logo {
    font-size: 1.5em;
    color: #000000;
    text-decoration: none;
}

.dark-mode .footer-logo .logo {
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
}


@media (max-width: 768px) {
    body {
        height: 20vh;
        margin: 0;
    }

    .container {
        gap: 10px;
        grid-template-columns: 1fr;
        align-items: flex-start;
        padding: 20px;
        width: 100%;
        max-width: 768px;
        margin: auto;
    }

    
    .main-video iframe {
        height: 240px;
    }

    .video-list {
        max-height: 400px;
        height: 480px;
    }

    .video-list .vid .logo {
        width: 50px;
        height: 40px;
    }

    .video-list .vid .title {
        font-size: 16px;
    }

    .search-bar {
        gap: 20px;
        width: 90%;
        height: 50%;
        padding: 0px 20px;
        margin: 6% 5%;
        border-radius: 5px;
        border: 1px solid #000000;
        font-size: 16px;
        background-color: #696969;
        box-shadow: 0px 2px 15px #535353;
    }

    footer {
        padding: 5px 0;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-bottom {
        margin-top: 15px;
    }
}
