
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fondo animado con degradado  background: linear-gradient(90deg, #000000, #202020, #2b2b2b, #000000, #000000);*/
body {
 background: linear-gradient(to right, #030b17 80%, #0c111b00);
    background-size: 400% 400%;
    animation: gradientAnimation 50s ease infinite;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/



.container {
    display: flex;

}

.main-video {
width: 100%;
}


.main-video iframe {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 83%; 
    height: 100vh; 
    border: none;
    box-shadow: 0px 0px 100px #030b17;
}


#reload-btn {
    position: absolute; 
    top: 20px; 
    left: 10px; 
    z-index: 10; 
    background-color: #313131;
    color: white;
    border: none;
    opacity: 50%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#reload-btn:hover {
    background-color: #313131;
    opacity: 100%;
    transition: 0.3s;
}
/* Ícono para abrir/cerrar la lista de canales */
.toggle-btn {
    position: fixed;
    opacity: 50%;
    top: 20px; 
    right: 10px; 
    background-color: #313131;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    z-index: 1000;
}

.toggle-btn:hover {
    background-color: #313131;
    opacity: 100%;
    transition: 0.3s;
}
.video-list.open {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.video-list {
    position: fixed;
    right: -250px; 
    top: 10%; 
    transform: translateY(-50%); 
    width: 350px;
    height: 80%; 
    background-color: rgba(20, 20, 20, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.7);
    z-index: 999; 
    /*transition: right 0.4s ease, left 0.4s, opacity 0.4s ease; /* Animación al mostrar/ocultar */
    overflow-y: auto; 
    opacity: 0; 
}


.container.show-list .video-list {
    right: 0;
    opacity: 1;
    visibility: visible; 
   /* transition: right 0.4s ease, opacity 0.4s ease; /* Transición para aparecer */
}


.container.hide-list .video-list {
    right: -350px;
    opacity: 0;
    visibility: hidden;
   /* transition: right 0.4s ease, opacity 0.4s ease; /* Transición para desaparecer */
}



.video-list h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #f0f0f0;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.vid {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #333;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
   /* transition: background-color 0.3s ease, transform 0.3s ease;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.vid img {
    width: 100px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 15px;
}



.vid:hover {
    background-color: #444; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}

.vid h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}


.vid.active {
    background-color: #0b183100; 
    color: #fff;
    transform: translateY(0); 
    box-shadow: 0 0px 16px rgba(209, 213, 218, 0.3); 
}

.vid.active img{
    filter: drop-shadow(0px 0px 5px rgb(206, 206, 206))
}
.vid.active h4 {
    color: #fff; 
}

.video-list::-webkit-scrollbar {
    width: 8px;
}

.video-list::-webkit-scrollbar-track {
    background-color: #222;
}

.video-list::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

@media (max-width: 768px)  { 
    .main-video iframe {  
        width: 100%; 
        height: 260px;
    }
    
}