*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    background: linear-gradient(to bottom right, #c0c0c0, #535353);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.heading{
    color: #444;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.search-bar{
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.container{
    display: grid;
    gap: 1%;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
    padding: 28px 1%;
}

.container .main-video{
    background: linear-gradient( #69767e, #2a3033);
    border-radius: 5px;
    padding: 8px;
}

.container .main-video iframe{
    width: 1260px;
    height: 710px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 10px 50px;
}

.container .main-video .title{
    color: #fafafa;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container .video-list{
    background: linear-gradient( #c0c0c0, #535353);
    border-radius: 5px;
    height: 895px;
    overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar{
    width: 7px;
}

.container .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
}

.container .video-list .vid{
    display: flex;
    align-items: center;
    gap:15px;
    background: linear-gradient( #69767e, #2a3033);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0 , .1);
    cursor: pointer;
}

.container .video-list .vid:hover{
    background: #eee;
}

.container .video-list .vid.active{
    background: linear-gradient( #eeeeee, #2e2e2e);
}

.container .video-list .vid.active .title{
    color: #f1f1f1;
}

.container .video-list .vid .title{
    color: #ffffff;
    font-size: 17px;
}

.container .video-list .vid .logo{
    width: 160px;
    height: 100px;
    border-radius: 5px;
    object-fit: contain;
}

.container .video-list .vid .hidden {
    display: none;
}

.alternative-sources {
    gap: 10px;
    padding: 10px;
    background-color: #adadad;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 280px;
    max-height: 50px;
}

.alternative-sources label {
    font-size: 14px;
    color: #333;
}

.alternative-sources select {
    padding: 5px 50px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #dadada;
    color: #333;
    font-size: 14px;
}

button {
    margin: 10px 1px;
    padding: 10px 15px;
    background-color: #6a6d70;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 3px;
        padding: 5px;
    }

    .heading {
        font-size: 25px;
    }

    .search-bar {
        width: 92%;
        font-size: 16px;
        margin-left: 15px;
        display: inline-block;
        box-shadow: 0px 1px 30px rgb(110, 110, 110);
    }

    .container .main-video {
        background: linear-gradient( #69767e, #2a3033);
        width: 94%; 
        max-width: 590px; 
        height: 94%; 
        border-radius: 5px;
        padding: 10px;
        margin: 10px; 
        position: relative;
    }

    .container .main-video iframe {
        width: 100%; 
        max-width: 570px; 
        height: 250px; 
        border-radius: 5px;

    }

    .container .video-list {
        width: 94%;
        height: 98%; 
        max-width: 590px; 
        max-height: 750px; 
        margin: 10px;
        display: inline-block;
    }

    .container .main-video .title {
        font-size: 18px;
    }

    .container .video-list .vid .title {
        font-size: 12px;
    }

    .container .video-list .vid .logo {
        width: 100px;
        height: 60px;
    }

    .alternative-sources {
        gap: 10px;
        padding: 10px;
        background-color: #adadad;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 190px;
    
    }
    
    .alternative-sources label {
        font-size: 14px;
        color: #333;
    }
    
    .alternative-sources select {
        padding: 5px 2px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #dadada;
        color: #333;
        font-size: 14px;
    }
    button {
        margin: 10px 0px;
        padding: 5px 15px;
        background-color: #757575;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        transition: background-color 0.3s;
    }
}